<div class="page-container" infinite-scroll [infiniteScrollDistance]="0" (scrolled)="onScroll()">
  <div class="post-outer-container" *ngFor="let post of posts">
    <div class="post-inner-container post">
      <div class="post-header">
        <div class="post-user-info user-info">
          <div class="user-info">
            <div class="user-info-img-contaienr">
              <div class="user-info-img-inner-container">
                <img class="user-info-img-contaienr__avatar" [src]="post.userImageUrl" alt="user picture">
                <div class="user-info-img-contaienr__status" [style.background-color]="post.userIsOnline ? '#65c110' : '#666'"></div>
              </div>
            </div>
            <div class="user-info-details-container">
              <h3 class="user-info-details-container__name">{{post.userFullName}}</h3>
              <p class="user-info-details-container__title">{{post.userType}}</p>
              <p class="user-info-details-container__time">
                من {{ post.postTime }}
                <i class="fa fa-globe" aria-hidden="true"></i>
              </p>
            </div>
          </div>
        </div>
        <div class="post-more-container">
          <i class="fa fa-chevron-down" aria-hidden="true"></i>
        </div>
      </div>
      <div class="post-body">
        <p class="post-body__text">{{post.body}}</p>
      </div>
      <div class="post-footer">
        <div class="like-comment-share-container">
          <i class="fa fa-thumbs-up" aria-hidden="true"></i>
          <span class="like-comment-share-container__numbers">{{post.numberOfLikes}}</span>
          <span class="like-comment-share-container__operation">اعجاب</span>
        </div>
        <div class="like-comment-share-container">
          <i class="fa fa-commenting" aria-hidden="true"></i>
          <span class="like-comment-share-container__numbers">{{post.numberOfComments}}</span>
          <span class="like-comment-share-container__operation">تعليق</span>
        </div>
        <div class="like-comment-share-container">
          <i class="fa fa-share" aria-hidden="true"></i>
          <span class="like-comment-share-container__numbers">{{post.numberOfShares}}</span>
          <span class="like-comment-share-container__operation">مشاركة</span>
        </div>
      </div>
    </div>
  </div>
</div>
